<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | SVM Dashboard</title>
  <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>
<body>
  <div class="container">
    <div class="right-panel">
      <img src="/static/images/login.svg" alt="Illustration" class="illustration" />
    </div>

    <div class="left-panel">
      
      <h1>Welcome Back</h1>

      <form class="form" method="post" action="/login">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>

      <div class="or">or continue with</div>

      <div class="social">
        <button class="google">G</button>
        <button class="apple"></button>
        <button class="facebook">f</button>
      </div>

      <p class="signup">Not a member? <a href="/signup">Sign Up</a></p>
    </div>
  </div>
</body>
</html>
